<style>
  *{padding:0;margin:0}@font-face{font-family:Minecraftia;src:url(minecraftia-regular-webfont.woff)}body{font-family:Minecraftia;color:#fff}
</style>

<body style=display:flex;flex-direction:column;height:100%>
  <audio autoplay id=stream muted>
<source src=https://icecast.auzziejay.com/stream type=audio/mpeg>
</audio>
  <div style="background:url(graphics/gridnew.gif);border-bottom:3px double #32cd32;text-align:center">
      <br>
      <h1>Yesterweb Radio</h1>
      <p>This live radio is a community-run, ad-free radio station hosted on the Yesterweb Discord server.</p>
      <br>
      <div>
          <button onclick="stream.muted=!0" style="color:#32cd32;font-size:1.25em;background:0 0;border:0;outline:0;font-family:Minecraftia;cursor:pointer">[[Pause]]</button>
          <button onclick="stream.muted=!1" style="color:#32cd32;font-size:1.25em;background:0 0;border:0;outline:0;font-family:Minecraftia;cursor:pointer">[[Play]]</button>
          <button onclick="window.open('https://miau.sadgrl.online/yesterweb-radio/view/')" style="color:#32cd32;font-size:1.25em;background:0 0;border:0;outline:0;font-family:Minecraftia;cursor:pointer">[[Schedule]]</button>
          
       </div>
      <br>
      <!--<marquee id="radiomarquee" style="border-top:3px #32cd32 double;background:black;">FRFKJLDSG</marquee>-->
  </div>
  <div style="width:100%;flex:1;display:flex;overflow:auto;overflow:hidden;">
      <canvas style="background:radial-gradient(#000A,black 90%),url(graphics/gridgrey.jpg);width:100%;flex:1;" id="canvas" height="350"></canvas>
      <iframe id="chat" style="flex:1;width:100%;height:100%;max-width:390px;margin-top:10px;" src="https://yesterweb.ishoutbox.com/" allowtransparency="yes" allow="autoplay" marginheight="0" marginwidth="0" scrolling="auto" width="100%" height="350" frameborder="0"></iframe>
      <!--Chat hidden due to 4chan raid-->
  </div>
  <script src="jquery-3.6.0.min.js"></script>
  <script>
$.getJSON('https://roly.neocities.org/ysurfplus/ysurfplus.json', function(data) {
    console.log(data.hidechat)
    if (data.hidechat) { $("#chat").hide() }
    $('#radiomarquee').text(data.radiomarquee)
});

      const stream = document.getElementById("stream");
          function sync() {
            stream.currentTime = stream.duration - 2;
          }
          stream.onpause = function () {
            stream.play();
          };

    window.AudioContext=window.AudioContext||window.webkitAudioContext||window.mozAudioContext,window.onload=function(){var t=document.getElementById("stream"),r=new AudioContext,a=r.createAnalyser();r.createMediaElementSource(t).connect(a),a.connect(r.destination);new Uint8Array(a.frequencyBinCount);var e=document.getElementById("canvas"),d=600,l=363,c=10,u=2,f="#fff",w=800/12,g=[];r=e.getContext("2d"),e.setAttribute("width","600"),e.setAttribute("height","365"),gradient=r.createLinearGradient(0,0,0,300),gradient.addColorStop(1,"#0f0"),gradient.addColorStop(.5,"#ff0"),gradient.addColorStop(0,"#f00"),function t(){var e=new Uint8Array(a.frequencyBinCount);a.getByteFrequencyData(e);var n=Math.round(e.length/w);r.clearRect(0,0,d,l);for(var o=0;o<w;o++){var i=e[o*n];g.length<Math.round(w)&&g.push(i),r.fillStyle=f,i<g[o]?r.fillRect(12*o,l- --g[o],c,u):(r.fillRect(12*o,l-i,c,u),g[o]=i),r.fillStyle=gradient,r.fillRect(12*o,l-i+u,c,l)}requestAnimationFrame(t)}(),t.play()};
  </script>