* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
}
button {
  border-radius: 0;
  outline:0;
  padding: 4px;
  background: linear-gradient(white, #e2c9e7);
  border:1px solid white;
  outline:1px solid #8f6a84;
  margin-right:1px;
}
button:active {
  background: linear-gradient(#8f6a84, #a09b9e);
  border:1px solid #a09b9e;
}
#nav {
  background: #f6d0ff;
  display: flex;
  height:30px;
  z-index:19;
  overflow:hidden; 
  align-items: center;
}
#nav input{
  height:100%;
  outline:0;
  border:0;

}
#sidebar{
  background: linear-gradient(white,#d096dd);
  padding-top:10px;
  z-index:0;
  overflow:hidden;
}
.sidebar-tab{
  width:40px;
  height:60px;
  background-image: url("graphics/sidebar_surf.png");
  background-size:100% 100%;
  margin-top:-10px;
  z-index:2;
  filter:drop-shadow(2px 0px 2px black);
  margin-left:1px;
  transition-duration: 500ms;
}
.sidebar-deselected{
  opacity:0.8;
  margin-left:4px;
  z-index:1;
}
.sidebar-deselected:hover{
  margin-left:1px;
  opacity:1;
}
.sidebar-deselected:active{
  opacity:1 !important;
}
#sidebar-surf{
  background-image: url("graphics/sidebar_surf.png");
}
#sidebar-radio{
  background-image: url("graphics/sidebar_radio.png");
}
#sidebar-forum{
  background-image: url("graphics/sidebar_forum.png");
}
#webview,#forum-webview,#radio-webview{
  box-shadow: 0px 0px 10px black;
  
}
